nodered/ncd-dashboard.json
[
    {
        "id": "1bb0e3f3be733532",
        "type": "ui-gauge",
        "z": "90955f0fde55f028",
        "name": "",
        "group": "17ae705f05e4d991",
        "order": 3,
        "width": "3",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "pH",
        "units": "pH",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "14",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1550,
        "y": 540,
        "wires": []
    },
    {
        "id": "7406c916ce4c2fe6",
        "type": "ui-chart",
        "z": "90955f0fde55f028",
        "group": "17ae705f05e4d991",
        "name": "",
        "label": "Temperature",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "20",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "5",
        "className": "",
        "x": 1570,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "90f264f92f503e9d",
        "type": "ui-gauge",
        "z": "90955f0fde55f028",
        "name": "",
        "group": "17ae705f05e4d991",
        "order": 1,
        "width": "3",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "15",
                "color": "#5cd65c"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "40",
                "color": "#ea5353"
            }
        ],
        "min": "15",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1570,
        "y": 460,
        "wires": []
    },
    {
        "id": "7a1de9113ed80162",
        "type": "ui-chart",
        "z": "90955f0fde55f028",
        "group": "17ae705f05e4d991",
        "name": "",
        "label": "pH",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "20",
        "colors": [
            "#ff0000",
            "#2ca02c",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "5",
        "className": "",
        "x": 1550,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "74f040dc3d7c3cf5",
        "type": "switch",
        "z": "90955f0fde55f028",
        "name": "sensor_data",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "4a9331c52a11202d"
            ]
        ]
    },
    {
        "id": "4a9331c52a11202d",
        "type": "switch",
        "z": "90955f0fde55f028",
        "name": "type",
        "property": "payload.sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "61",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 560,
        "wires": [
            [
                "83db43afe9d9756e",
                "6df6fd57ddd71275",
                "5f957d61dbcdabca"
            ]
        ]
    },
    {
        "id": "83db43afe9d9756e",
        "type": "change",
        "z": "90955f0fde55f028",
        "name": "get Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.Temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature - (°C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 500,
        "wires": [
            [
                "90f264f92f503e9d",
                "7406c916ce4c2fe6"
            ]
        ]
    },
    {
        "id": "6df6fd57ddd71275",
        "type": "change",
        "z": "90955f0fde55f028",
        "name": "get pH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.pH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pH (%)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 560,
        "wires": [
            [
                "1bb0e3f3be733532",
                "7a1de9113ed80162"
            ]
        ]
    },
    {
        "id": "0ca9757da9550d09",
        "type": "debug",
        "z": "90955f0fde55f028",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 460,
        "wires": []
    },
    {
        "id": "57bfe5c2805eb829",
        "type": "ncd-gateway-node",
        "z": "90955f0fde55f028",
        "name": "",
        "connection": "e29ba81290eb0276",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "0ca9757da9550d09",
                "74f040dc3d7c3cf5"
            ]
        ]
    },
    {
        "id": "23e9df6b0e6345b3",
        "type": "ui-gauge",
        "z": "90955f0fde55f028",
        "name": "",
        "group": "17ae705f05e4d991",
        "order": 5,
        "width": "3",
        "height": "5",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Battery",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0019"
            },
            {
                "from": "40",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#44fd51"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1560,
        "y": 620,
        "wires": []
    },
    {
        "id": "5f75754decfb74f5",
        "type": "ui-chart",
        "z": "90955f0fde55f028",
        "group": "17ae705f05e4d991",
        "name": "",
        "label": "Battery",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "20",
        "colors": [
            "#ff0000",
            "#2ca02c",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1560,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5f957d61dbcdabca",
        "type": "change",
        "z": "90955f0fde55f028",
        "name": "get Batt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.battery_percent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Battery Percent (%)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 620,
        "wires": [
            [
                "23e9df6b0e6345b3",
                "5f75754decfb74f5"
            ]
        ]
    },
    {
        "id": "17ae705f05e4d991",
        "type": "ui-group",
        "name": "NCD pH Sensor",
        "page": "42751c8d1b112b5a",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e29ba81290eb0276",
        "type": "ncd-gateway-config",
        "name": "",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": false
    },
    {
        "id": "42751c8d1b112b5a",
        "type": "ui-page",
        "name": "NCD pH Sensor",
        "ui": "0b6fb8b6f62a3d11",
        "path": "/ncd-ph",
        "icon": "home",
        "layout": "grid",
        "theme": "ec6a7a6f177907bf",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0b6fb8b6f62a3d11",
        "type": "ui-base",
        "name": "ncd-ui-base",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "temporary",
        "titleBarStyle": "default"
    },
    {
        "id": "ec6a7a6f177907bf",
        "type": "ui-theme",
        "name": "ncd-theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
